/DATOSEMPLEADO.BE/node_modules/
/DATOSEMPLEADO.FE/public/
/DATOSEMPLEADO.FE/node_modules/
/DATOSEMPLEADO.BE/.env
/DATOSEMPLEADO.FE/.env
/DATOSEMPLEADO.BE/pnpm-lock.yaml
/DATOSEMPLEADO.FE/pnpm-lock.yaml